.article {
  @apply pb-5 pt-3 border-t border-lightgrey relative;
}

.img {
  @apply overflow-hidden ml-auto;
  border-radius: 50%;
  min-width: 90px;
  min-height: 90px;
  max-width: 90px;
  max-height: 90px;
}

.flexCon {
  @apply flex content-between w-full;
}

.title {
  @apply text-lg pr-4;
  font-weight: bold;

  &:hover {
    opacity: 0.5;
  }
}

.tag {
  @apply relative inline-block text-xs;

  &:before {
    content: '';
    @apply block left-0 bottom-1 absolute w-full bg-primary;
    height: 0.25rem;
    z-index: -1;
    opacity: 0.6;
  }
}