.author {
  @apply flex items-center text-black relative cursor-pointer;
  z-index: 50;
}

.inverted {
  @apply text-white;
}

.img {
  @apply mr-2;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  height: 26px;
  width: 26px;
}

.text, .name {
  @apply text-xs block;
  margin-top: 0.1rem;
}

.name {
  font-weight: bold;
}