.popover {
  @apply absolute top-0 pt-8;
  transform: translateY(100%);
  position: absolute;
  z-index: 1000;
  left: -15px;
  max-width: calc(100vw - 30px);

  animation: fadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal forwards;
}

/*
  Hide on mobile devices
*/
@media (hover: none) {
  .popover {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  @apply bg-white border-lightgrey border rounded-lg px-5 pt-3 pb-5;
  width: 400px;
  max-width: 100%;
  min-height: 160px;
}

.content {
  @apply flex items-start;
}

.img {
  @apply overflow-hidden;
  border-radius: 50%;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
}

.right {
  @apply mt-1 pl-6;
  max-width: calc(400px - 120px)
}

.name {
  @apply font-bold text-lg flex items-center;
}

.about {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 90px;
  max-height: 90px;
  width: 100%;
  line-height: 22px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.joinedAt {
  @apply text-xs mb-3;
  opacity: 0.5;
}

.score {
  @apply flex text-sm items-center ml-2 font-normal text-primary;
}

.score > div {
  @apply ml-1;
}
