.article {
  @apply w-full overflow-hidden relative;
  @media (min-width: theme("screens.md")) {
    height: 100%;
  }
}

.con {
  @apply w-full overflow-hidden relative;
  padding-bottom: 100%;

  @media (min-width: theme("screens.md")) {
    padding-bottom: 0;
    height: 100%;
  }
}

.tag {
  @apply block py-1 px-3 text-xs bg-primary text-black absolute;
  top: -1rem;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.article:before {
  content: "";
  @apply block absolute left-0 top-0 w-full h-full;
  z-index: 1;
  background: linear-gradient(180deg, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
}

.link {
  @apply absolute w-full h-full top-0 left-0;
  z-index: 5;
}

.article:hover .bg {
  transform: scale(1.2);
}

.bg {
  @apply absolute w-full h-full;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center center;
  background-size: cover;
}

.title {
  @apply text-white bg-black text-2xl py-1 px-2 relative;
  font-weight: bold;
  line-height: 2.5rem;
  display: inline;
  -webkit-box-decoration-break: clone;
  z-index: 1;
}

.content {
  @apply p-5 absolute bottom-0 left-0 w-full;
}

.infoWrapper {
  @apply relative;
  z-index: 10;
}
