.container {
  @apply mt-3 flex items-center flex-wrap text-black text-xs;
}

.inverted {
  @apply text-white;
}

.spacer {
  @apply block overflow-hidden bg-black mx-2;
  max-width: 0.2rem;
  max-height: 0.2rem;
  min-width: 0.2rem;
  min-height: 0.2rem;
  border-radius: 100%;
}

.inverted .spacer {
  @apply bg-white;
}

.text {
  @apply flex items-center  text-xs;

  margin-top: 0.1rem;
  opacity: 0.9;
}

.stars {
  @apply block mr-1;
  margin-top: -0.1rem;
}
