.container {
  @apply mt-3 flex items-center flex-wrap text-black text-xs;
}

.inverted {
  @apply text-white;
}

.spacer {
  @apply block overflow-hidden text-black mx-2 mt-1;
  border-radius: 100%;
}

.inverted .spacer {
  @apply text-white;
}

.text {
  @apply flex items-center  text-xs;

  margin-top: 0.1rem;
  opacity: 0.9;
}

.stars {
  @apply block mr-1;
  margin-top: -0.1rem;
}
